@import "./base.css";

#app {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    z-index: 100;
}

main {
    height:100%;
    display: flex;
    flex-direction: row;
}

main .map {
    flex:50%;
    height:100%;
    position:relative;
    flex-shrink: 0;
}

main .map:only-child {
    flex:100%
}

main #contentview {
    flex:50%;
    height:100%;
    padding-top:20pt;
}

@media (prefers-color-scheme: dark) {
    main #contentview {
        background: var(--color-background);
        color: var(--color-text);
    }
}

@media screen and (max-width:1024px) {
    main {
        flex-direction: column;
    }

    main #contentview {
        height:50%
    }
}

.mapboxgl-control-container {
    position:static;
}

h1 {
    margin-top:15pt;
}
h2 {
    margin-top:6pt;
}


.content {
    height:100%;
    padding-left:20pt;
    padding-right:20pt;
    padding-bottom:10pt;
    overflow-y:scroll;
}

.content a,
.content a:visited {
    color: var(--color-text)
}

.content .vue-treeselect__control,
.content .vue-treeselect--open .vue-treeselect__control,
.content .vue-treeselect__menu {
    background-color: var(--color-background);
    border-color: var(--color-border);
}

.content .vue-treeselect--single .vue-treeselect__option--selected {
    background-color: var(--color-background-soft)
}

.content .vue-treeselect__option--highlight,
.content .vue-treeselect--single .vue-treeselect__option--selected:hover {
    background-color: var(--color-background-mute)
}

.content .vue-treeselect:not(.vue-treeselect--disabled) .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-disabled):hover .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new) .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new):hover,
.content .vue-treeselect__multi-value-item {
    background-color: var(--color-background-soft)
}

.content .vue-treeselect__input,
.content .vue-treeselect__single-value {
    color: var(--color-text)
}

.content input:not(.vue-treeselect__input) {
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius:5px;
    padding: 2pt
}

.content input[type=submit],
.content input[type=submit] {
    background-color: var(--color-background-soft)
}

.content input[type=submit]:active {
    background-color: var(--color-background-mute)
}

.content .info-indent {
    border-left: 1pt solid lightgrey;
    padding-left: 5pt;
    margin-left: 1pt;
}
.content .source {
    text-align:right;
    color:darkgray
}
.content .source a {
    color:inherit
}